---
import { CodeXml, LayoutPanelLeft, Smartphone } from 'lucide-react';

import ServicesCard from './services-card.astro';
---

<section class="services section" id="services">
  <h2 class="section__title-2"><span>Services.</span></h2>

  <div class="services__container container grid">
    <ServicesCard
      title="Web Design"
      description=`Beautiful and elegant designs with interfaces that are intuitive,
efficient and pleasant to use for the user.`
      ><LayoutPanelLeft /></ServicesCard
    >
    <ServicesCard
      title="Development"
      description=`Custom web development tailored to your specifications, designed to
      provide a flawless user experience.`
      ><CodeXml /></ServicesCard
    >
    <ServicesCard
      title="Mobile App"
      description=`  Design and transform website projects into mobile apps to provide a
      seamless user experience.`
      ><Smartphone /></ServicesCard
    >
  </div>
</section>

<style is:global>
  /*=============== SERVICES ===============*/
  .services__container {
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 2rem;
    padding-top: 1rem;
  }

  .services__card {
    position: relative;
  }

  .services__content {
    height: 100%;
    background-color: var(--body-color);
    border: 4px solid var(--black-color);
    padding: 6rem 1rem 3rem;
    z-index: 5;
    position: relative;
    transition:
      background-color 0.4s,
      border 0.4s;
  }

  .services__border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid var(--first-color);
    top: 0;
    left: 0;
    transition: transform 0.4s;
  }

  .services__card:hover .services__border {
    transform: translate(0.75rem, 0.75rem);
  }

  .services__icon {
    position: relative;
    display: inline-block;
  }

  .services__icon svg {
    width: 2rem;
    height: 2rem;
    color: var(--black-color);
    position: relative;
    z-index: 5;
  }

  .services__box {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: var(--first-color);
    right: -2px;
    top: -2px;
  }

  .services__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.25rem;
  }
</style>
