---
import BaseHeader from '@/components/base-header.astro';
import MainLayout from '@/layouts/main-layout.astro';
---

<MainLayout class="font-serif">
  <div class="flex min-h-screen w-full flex-col">
    <BaseHeader />
  </div>
</MainLayout>
