---
import { Button } from '@/components/ui/button';
import MainLayout from '@/layouts/main-layout.astro';
---

<MainLayout class="font-serif">
  <h1>Astro</h1>
  <Button variant="outline">Hello World</Button>
</MainLayout>
