---
import MenuSheet from './menu-sheet';
import ThemeDropdown from './theme-dropdown';
---

<header
  x-data="{ atTop: true }"
  class="header"
  :class="{ 'shadow-header ': !atTop }"
  id="header"
  @scroll.window="atTop = (window.pageYOffset >= 50 ? false : true)"
>
  <nav class="nav container">
    <a href="#" class="nav__logo">
      <span class="nav__logo-circle">H</span>
      <span class="nav__logo-name">Hana Jeong.</span>
    </a>
    <div id="nav-menu" class="nav__menu max-[1150px]:hidden">
      <span class="nav__title">Menu</span>
      <h3 class="nav__name">Hana</h3>
      <ul class="nav__list text-lg font-medium">
        <li class="nav__item">
          <a href="#home" class="nav__link active-link"> Home </a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link"> About Me </a>
        </li>
        <li class="nav__item">
          <a href="#projects" class="nav__link"> Projects </a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link nav__link-button"> Contact Me </a>
        </li>
        <li class="nav__item">
          <a href="/blog" class="nav__link"> Blog </a>
        </li>
      </ul>
    </div>

    <div class="nav__buttons">
      <!-- Theme Button -->
      <ThemeDropdown client:load />

      <!-- Toggle Button -->
      <MenuSheet client:load />
    </div>
  </nav>
</header>
