---

---

<section class="about section" id="about">
  <div class="about__container container grid">
    <div class="about__data">
      <h2 class="section__title">
        DISCOVER YOUR <br /> FAVORITE FLAVORS
      </h2>
    </div>
  </div>
</section>
