---
import MenuSheet from './menu-sheet';
---

<header
  x-data="{ atTop: true }"
  class="header sticky top-0 z-fixed bg-first transition-box-shadow duration-400"
  :class="{ 'shadow-header ': !atTop, '': atTop }"
  id="header"
  @scroll.window="atTop = (window.pageYOffset >= 50 ? false : true)"
>
  <nav
    class="nav container relative flex h-header items-center justify-between"
  >
    <a href="#" class="nav__logo font-pixel drop-shadow-text">PYEONNE</a>
    <MenuSheet client:load />
  </nav>
</header>
