---
import MenuSheet from './menu-sheet';
---

<header
  class="header bg-first z-fixed transition-box-shadow duration-400 sticky top-0"
  id="header"
>
  <nav
    class="nav h-header container relative flex items-center justify-between"
  >
    <a href="#" class="nav__logo drop-shadow-text font-pixel">PYEONNE</a>
    <MenuSheet client:load />
  </nav>
</header>
