---
import BaseHead from '@/components/base-head.astro';
import Navigation from '@/components/navigation/navigation.astro';
---

<html lang={Astro.props.lang}>
  <head>
    <BaseHead />
  </head>
  <body>
    <Navigation />
    <main class="main">
      <slot />
    </main>
  </body>
</html>
