---
import BaseHead from '@/components/base-head.astro';
import BaseHeader from '@/components/base-header.astro';
---

<html lang={Astro.props.lang}>
  <head>
    <BaseHead />
  </head>
  <body>
    <BaseHeader />
    <main class="main">
      <slot />
    </main>
  </body>
</html>
