---
import BaseHead from '@/components/base-head.astro';
import BaseHeader from '@/components/base-header.astro';
import { cn } from '@/libs/utils';
---

<html lang={Astro.props.lang}>
  <head>
    <BaseHead />
  </head>
  <body>
    <BaseHeader />
    <main class={cn('main flex-1', Astro.props.class)}>
      <slot />
    </main>
  </body>
</html>
